*.idea
*.pyc
*.sqlite
*.html
*.htm
*.vscode
*.xml
*.json
debug_results.txt
venv
.mypy_cache
.pytest_cache
build/
dist/
theHarvester.egg-info
api-keys.yaml
!theHarvester/data/api-keys.yaml
.DS_Store
.venv
.venv/**
.pyre
.junie
node_modules/
frontend/node_modules/
frontend/dist/